# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of `go run`
*.log

# Go workspace files
vendor/
bin/
build/

# IDEs & Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# compose
docker-compose.yml

# env
.env